In [152]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error as MSE

# Read data file
rental_df = pd.read_csv('rental_info.csv')
rental_df.head()

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2
0,2005-05-25 02:54:33+00:00,2005-05-28 23:40:33+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401
1,2005-06-15 23:19:16+00:00,2005-06-18 19:24:16+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401
2,2005-07-10 04:27:45+00:00,2005-07-17 10:11:45+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401
3,2005-07-31 12:06:41+00:00,2005-08-02 14:30:41+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401
4,2005-08-19 12:30:04+00:00,2005-08-23 13:35:04+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401

In [153]:
rental_df.columns

Index(['rental_date', 'return_date', 'amount', 'release_year', 'rental_rate',
       'length', 'replacement_cost', 'special_features', 'NC-17', 'PG',
       'PG-13', 'R', 'amount_2', 'length_2', 'rental_rate_2'],
      dtype='object')

In [154]:
rental_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15861 entries, 0 to 15860
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_date       15861 non-null  object
 1   return_date       15861 non-null  object
 2   amount            15861 non-null  float64
 3   release_year      15861 non-null  float64
 4   rental_rate       15861 non-null  float64
 5   length            15861 non-null  float64
 6   replacement_cost  15861 non-null  float64
 7   special_features  15861 non-null  object
 8   NC-17             15861 non-null  int64
 9   PG                15861 non-null  int64
 10  PG-13             15861 non-null  int64
 11  R                 15861 non-null  int64
 12  amount_2          15861 non-null  float64
 13  length_2          15861 non-null  float64
 14  rental_rate_2     15861 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 1.8+ MB

In [155]:
rental_df['rental_date'] = pd.to_datetime(rental_df['rental_date'])
rental_df['rental_date']

0       2005-05-25 02:54:33+00:00
1       2005-06-15 23:19:16+00:00
2       2005-07-10 04:27:45+00:00
3       2005-07-31 12:06:41+00:00
4       2005-08-19 12:30:04+00:00
                   ...
15856   2005-08-22 10:49:15+00:00
15857   2005-07-31 09:48:49+00:00
15858   2005-08-20 10:35:30+00:00
15859   2005-07-31 13:10:20+00:00
15860   2005-08-18 06:33:55+00:00
Name: rental_date, Length: 15861, dtype: datetime64[ns, UTC]

In [156]:
rental_df['rental_date'] = pd.to_datetime(rental_df['rental_date'])
rental_df['rental_date']

0       2005-05-25 02:54:33+00:00
1       2005-06-15 23:19:16+00:00
2       2005-07-10 04:27:45+00:00
3       2005-07-31 12:06:41+00:00
4       2005-08-19 12:30:04+00:00
                   ...
15856   2005-08-22 10:49:15+00:00
15857   2005-07-31 09:48:49+00:00
15858   2005-08-20 10:35:30+00:00
15859   2005-07-31 13:10:20+00:00
15860   2005-08-18 06:33:55+00:00
Name: rental_date, Length: 15861, dtype: datetime64[ns, UTC]

In [157]:
rental_df['return_date'] = pd.to_datetime(rental_df['return_date'])
rental_df['return_date']

0       2005-05-28 23:40:33+00:00
1       2005-06-18 19:24:16+00:00
2       2005-07-17 10:11:45+00:00
3       2005-08-02 14:30:41+00:00
4       2005-08-23 13:35:04+00:00
                   ...
15856   2005-08-29 09:52:15+00:00
15857   2005-08-04 10:53:49+00:00
15858   2005-08-29 13:03:30+00:00
15859   2005-08-08 14:07:20+00:00
15860   2005-08-24 07:14:55+00:00
Name: return_date, Length: 15861, dtype: datetime64[ns, UTC]

In [164]:
rental_df['rental_length_days'] = (rental_df['return_date'] - rental_df['rental_date']).dt.days
#rental_df['rental_length_days'] = rental_df['rental_length_days'].dt.days
rental_df.head()

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,rental_length_days,deleted_scenes,behind_the_scenes
0,2005-05-25 02:54:33+00:00,2005-05-28 23:40:33+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,3,0,1
1,2005-06-15 23:19:16+00:00,2005-06-18 19:24:16+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,2,0,1
2,2005-07-10 04:27:45+00:00,2005-07-17 10:11:45+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,7,0,1
3,2005-07-31 12:06:41+00:00,2005-08-02 14:30:41+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,2,0,1
4,2005-08-19 12:30:04+00:00,2005-08-23 13:35:04+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,4,0,1

In [159]:
rental_df['deleted_scenes'] = np.where(
    rental_df['special_features'].str.contains('Deleted Scenes'), 
    1,  # Value to set if string IS found
    0   # Value to set if string is NOT found
)
rental_df['behind_the_scenes'] = np.where(
    rental_df['special_features'].str.contains('Behind the Scenes'), 
    1,  # Value to set if string IS found
    0   # Value to set if string is NOT found
)
rental_df.head()

,rental_date,return_date,amount,release_year,rental_rate,length,replacement_cost,special_features,NC-17,PG,PG-13,R,amount_2,length_2,rental_rate_2,rental_length_days,deleted_scenes,behind_the_scenes
0,2005-05-25 02:54:33+00:00,2005-05-28 23:40:33+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,3 days 20:46:00,0,1
1,2005-06-15 23:19:16+00:00,2005-06-18 19:24:16+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,2 days 20:05:00,0,1
2,2005-07-10 04:27:45+00:00,2005-07-17 10:11:45+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,7 days 05:44:00,0,1
3,2005-07-31 12:06:41+00:00,2005-08-02 14:30:41+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,2 days 02:24:00,0,1
4,2005-08-19 12:30:04+00:00,2005-08-23 13:35:04+00:00,2.99,2005.0,2.99,126.0,16.99,"{Trailers,""Behind the Scenes""}",0,0,0,1,8.9401,15876.0,8.9401,4 days 01:05:00,0,1

In [160]:
y = rental_df['rental_length_days']
X = rental_df.drop(['rental_length_days', 
                    'special_features', 
                    'rental_date', 
                    'return_date'], axis=1)
SEED = 9
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,
                                                    random_state=SEED)

best_model = RandomForestRegressor(n_estimators=10, random_state=SEED)
best_model.fit(X_train, y_train)
y_pred = best_model.predict(X_test)
best_mse = MSE(y_test, y_pred)
#best_mse
y_pred

array([6.64445500e+14, 2.65578111e+14, 2.02604327e+14, ...,
       2.25460646e+14, 2.86504523e+14, 5.23782133e+14])